REPLICATE_API_KEY=39f39e5fe2650a8c6ca80b0337ee295512224f4e

# Optional, if you're doing rate limiting
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# Optional, if you're planning to use Upload.io (you need to if you have 100+ uploads)
NEXT_PUBLIC_UPLOAD_API_KEY=

# Optional, if you want to add auth + DB
NEXTAUTH_SECRET=
GOOGLE_CLIENT_ID=710773078828-tp3956dpika4igp0f7upnhu6prslkbrs.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
DATABASE_URL=
SHADOW_DATABASE_URL=
NEXTAUTH_URL=localhost:3000

# Pricing
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=



